body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: white;

    background: linear-gradient(
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.95)
    ),
    url("https://e0.365dm.com/23/05/1600x900/skysports-f1-max-verstappen_6170155.jpg")
    center/cover fixed no-repeat;
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(90deg, #e10600, #8b0000);
}

.navbar h1 {
    margin: 0;
}

.navbar button {
    margin-left: 10px;
}

/* HERO */
.hero {
    height: 400px;

    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.9)
    ),
    url("https://e0.365dm.com/23/05/1600x900/skysports-f1-max-verstappen_6170155.jpg")
    center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 15px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    color: #ccc;
}

/* FILTRO */
.filters {
    padding: 20px;
    text-align: center;
}

.filters input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}