# Dependencias
node_modules/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Logs
*.log

# Variables de entorno
.env

# Archivos temporales
*.tmp
*.swp

# Build
dist/
build/